/**
* html5tooltips.js
* Light and clean tooltips.
* https://github.com/ytiurin/html5tooltipsjs
*
* Yevhen Tiurin <yevhentiurin@gmail.com>
* The MIT License (MIT)
* http://opensource.org/licenses/MIT
*
* April 21, 2014
**/

.html5tooltip-box
{
  background-color: rgba(42, 42, 42, 0.95);
  border: 1px solid rgba(255, 255, 255, 0);
  color: #FFFFFF;
  padding: 7px 9px;
}
.html5tooltip-text
{
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
}
.html5tooltip-hr
{
  height: 7px;
}
.html5tooltip-pointer
{
  border-color: rgba(42, 42, 42, 0.95);
  height: 12px;
  position: absolute;
  width: 12px;
}
.html5tooltip-po
{
  border: 6px solid rgba(255, 255, 255, 0);
  position: absolute;
}
.html5tooltip-pi
{
  border: 5px solid rgba(255, 255, 255, 0);
  left: 1px;
  position: absolute;
  top: 2px;
}
.html5tooltip-bottom .html5tooltip-pointer .html5tooltip-pi
{
  border-bottom-color: inherit;
}
.html5tooltip-left .html5tooltip-pointer .html5tooltip-pi
{
  border-left-color: inherit;
}
.html5tooltip-right .html5tooltip-pointer .html5tooltip-pi
{
  border-right-color: inherit;
}
.html5tooltip-top .html5tooltip-pointer .html5tooltip-pi
{
  border-top-color: inherit;
}