/*
* Tooltips with smooth 3D animation.
* (c) Eugene Tiurin; MIT license
*
* Contributors: nomiad, Friedel Ziegelmayer, Arend van Beelen jr.,
* Peter Richmond, Bruno Wego, Kahmali Rose
*
* 2016-09-13
*/

.html5tooltip-box
{
  background-color: #2A2A2A;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(255,255,255,.15), 0 0 10px rgba(255,255,255,.15);
  color: #F7F7F7;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
}
.html5tooltip-box:before
{
  background-color: inherit;
  box-shadow: inherit;
  content:'';
  display:block;
  height: 12px;
  position: absolute;
  width: 12px;
  transform: translate3d(-6px, -6px, 0) rotate3d(0, 0, 1, 45deg);
  left: 10px;
  top: 10px;
}
.html5tooltip-text
{
  background-color: inherit;
  border-radius: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 7px 9px;
  position: relative;
}
.html5tooltip-text a
{
  color: inherit;
}
.html5tooltip-more
{
  background-color: inherit;
  border-radius: inherit;
  position: relative;
}
.html5tooltip-more .html5tooltip-text
{
  margin-top:-7px;
}
.html5tooltip-bottom .html5tooltip-box:before
{
  left: 50%;
  top: 0px;
}
.html5tooltip-left .html5tooltip-box:before
{
  left: 100%;
  top: 50%;
}
.html5tooltip-right .html5tooltip-box:before
{
  left: 0;
  top: 50%;
}
.html5tooltip-top .html5tooltip-box:before
{
  left: 50%;
  top: 100%;
}
